.profile__container {
  display: flex;
  width: 730px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 580px) {
  .profile__container {
    flex-direction: column;
    max-width: 80vw;
  }
}
