.profile__add-button {
  height: 50px;
  width: 150px;
  cursor: pointer;
  background-image: url(../../../images/add-button.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: 2px solid #ffffff;
  transition: 0.8s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .profile__add-button {
    width: 100px;
    height: 34px;
  }
}

@media (max-width: 650px) {
  .profile__add-button {
    width: 75px;
    height: 25px;
  }
}

@media (max-width: 580px) {
  .profile__add-button {
    width: 200px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}
