.popup__close {
  position: absolute;
  top: -40px;
  left: 440px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 560px) {
  .popup__close {
    top: -41px;
    left: 260px;
  }
}

@media (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
  }
}
