.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-image: url(../../../images/close-icon.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: contain;
  border: none;
  padding: 0;
  transition: 0.8s;
  z-index: 2;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 560px) {
  .popup__close {
    top: -41px;
    right: 5px;
  }
}

@media (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
  }
}
