.popup__form-save {
  background-color: black;
  border: none;
  padding: 0;
  margin: 0;
  max-width: 358px;
  min-height: 50px;
  margin-top: 48px;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.8s;
}

.popup__form-save:hover {
  opacity: 0.6;
}

@media (max-width: 320px) {
  .popup__form-save {
    max-width: 238px;
    min-height: 46px;
  }
}
